*{
    margin: 0;
    padding: 0;
}

.navbar{
    background-color: red;
    justify-content: space-evenly;
    padding-left: 5%;
    padding-right: 5%;

}
nav a{
    text-decoration: none;

}
.header ul {
    display: flex; /* Ensure list items are aligned horizontally */
    gap: 50px;/* Add space between the list items */
    margin: 0;
    padding: 0;
}
.header a{
    color: white;
}
.navbar li{
    list-style: none;
    display: inline-block;
    margin: 1vh;
    font-size: 18px;
}
nav .Profile{
    color: white;
    font-weight: 600;
    font-size: 25px;
}
button{
    padding: 5px 8px 5px 8px;
    border-radius: 10%;
    background-color: blue;  
}
 button  a{
    color: white;
}
button a:hover{
    color: red
}
.Potname{
    background-color:#FAFAFA ;
    text-align: center;
   
    
}
.Potname h3{
  margin: 0px;
}
/*hero*/
.hero {
    background-color: #e3e9f6;
    margin: 0;
    padding-top: 50px;
    padding-bottom: 50px;
}

.col {
    display: flex;
    flex-direction: column; /* Stack the content vertically */
    align-items: flex-start; /* Align items to the left */
    justify-content: center;
    padding-right: 30px; /* Adjust the value as needed */
    }
    
    .row > .col:first-child {
        margin-right: 20px; /* Adjust the value as needed */
    }
    .row > .col:nth-child(2) {
        margin-left: 20px; /* Adjust the value as needed */

    }
    
.img1 {
    height: 20%;
    align-self: center; 
    display: block;
}

.title-section {
    display: flex;
    align-items: baseline; /* Align the items horizontally on the same line */
    gap: 10px; /* Add space between "Tech Enthusiast" and "yes! I am" */
}



div .pot, div .sup {
    margin: 0; /* Remove default margin */
}
.pot{
    font-weight: bold;
    font-size: 3em;
    text-wrap: nowrap;
}
div .sup  {
    font-size: 21px;
    text-wrap: nowrap;
       
}
.tittle{
    font-size: 18px;
    text-wrap: nowrap;
}

/*Rates*/
.rates  {
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.number{
    font-size: 2.5em;
    font-weight: 500;
}
.Description{
    font-size: 1.5rem;
}
div .col{
    
    align-items: center;
    height:50%;
}

